fastapi==0.115.0
uvicorn[standard]==0.30.6
gunicorn==23.0.0
sqlalchemy==2.0.35
asyncpg==0.29.0
pydantic-settings==2.5.2
python-multipart==0.0.9
boto3==1.35.24
qdrant-client==1.11.2
sentence-transformers==3.1.1
torch==2.4.1
llama-index-core==0.11.14
pypdf==5.0.1
scikit-learn==1.5.2
scikit-image==0.24.0
scipy==1.14.1
numpy==1.26.4
pandas==2.2.3
umap-learn==0.5.6
dspy-ai==2.5.6
pythainlp==5.0.4
